<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About 90's Kids</h1>

  <p>
    The 90's Kids quote generator was built by <a target="_blank" href="http://github.com/tfreebern2">Tim Freebern.</a>
  </p>
  <br />
  <p>
    Tim is a student of the Firehose Project and is an aspiring web developer.
  </p>
  <br />
  <p> 
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'profilepic.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tim Freebern</h2>
    <br />
    <p>
      Tim Freebern is an aspiring web developer and student in The Firehose Project bootcamp. He's always wanted to get into the world of tech. After messing around with free coding lessons found online he decided he wanted to take it to the next level.
    </p>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />