@import "bootstrap-sprockets";
@import "bootstrap";



.clear {
  clear:both;
}

.logo:hover {
  text-decoration: none;
}

.circle {
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #0404B4;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  padding-top: 26px;
  font-size: 40px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'sinkin_sans400_regular', sans-serif;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1 { 
  font-family: 'sinkin_sans700_bold', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'sinkin_sans400_regular', sans-serif;
}

.next-quote {
  color:#f84342;
  font-family: 'sinkin_sans400_regular', sans-serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  text-align: right;
}